@{
    ViewBag.Title = "Account Details File Uploader";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
</div>



<form id="uploader" enctype="multipart/form-data">
    @Html.ValidationSummary()
    <label>Please Select the file to Upload</label>
    <br />

    <table>

        <tr>
            <td>
                <input id="fileInput" type="file">
            </td>
            <td>
                <input type="button" id="submitBox" value="Upload file" />
            </td>
        </tr>

    </table>




</form>

<progress id="progress" max="100" value="10"> </progress>
<div id="progressMessage">File is getting uploaded!</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#progress').css("visibility", "hidden");
            $("#TransactionDiv").css("visibility", "hidden");
            $("#progressMessage").hide();
            $("#submitBox").click(function () {

                $('#progress').css({
                    'background-color': '#eee',
                    'border-radius': '2px',
                    'box-shadow': '0 2px 5px rgba(0, 0, 0, 0.25) inset',
                    'visibility': 'visible'
                }).attr("value", 10);
                $("#progressMessage").show();

                //$(this).prop('diabled', true);
                var fileInput = $('#fileInput')[0];
                if (fileInput.files.length != 0) {

                    if (fileInput.value != null && fileInput.files[0].name.split(".")[1].toUpperCase() == "CSV") {
                        var formdata = new FormData();
                        formdata.append(fileInput.name, fileInput.files[0]);

                        $.ajax({
                            url: '/Home/FileUpload',
                            contentType: false,
                            processData: false,
                            data: formdata,
                            type: 'POST',
                            success: function (responseData, textStatus, jqXHR) {
                                alert(responseData);
                                //$("#TransactionDiv").html("<b>File Upload has been Successful</b>")
                                //                    .css({ 'color': 'green', });
                                $("#TransactionDiv").css("visibility", "visible");

                                $('#progress').attr("value", 100);
                                $('#progressMessage').hide();
                                

                            },

                            error: function (responseData, textStatus, errorThrown) {
                                alert('File Upload has failed.');
                                $("#TransactionDiv").html("<b>File Upload has failed</b>").css({ 'color': 'red'});
                              
                                $("#employeeDiv").css("visibility", "visible");
                            }

                        });
                    }
                    else {
                        alert("Please select a valid file");
                    }
                }

                else {
                    alert("No File is selected");
                }


            });
        });
                //function progressHandlingFunction(e) {
                //    if (e.lengthComputable) {
                //        $('progress').attr({ value: e.loaded, max: e.total });


                //        //$('progress').attr(90);
                //    }
                //}


    </script>

}

<div id="TransactionDiv">
    <p></p>

    @Html.ActionLink("TransactionDetails", "Index", "Transaction")

    @*@if (ViewBag.FileUploadStatus == "Success")
    {*@
        <b><font color="green">File Upload has been Successful</font> </b>
        <p>Click on the link below to see Transaction Details</p>
       
    @*//}
    else*@
    @*{
        <b><font color="red">File Uploaded has failed</font> </b>

    }*@



</div>