@{
    ViewBag.Title = "Account Details File Uploader";
}

<div class="jumbotron">
    <h3>@ViewBag.Title</h3>
</div>



<form id="uploader" enctype="multipart/form-data">
    @Html.ValidationSummary()
    <label>Please Select the file to Upload</label>
    <br />
    <table>
        <tr>
            <td>
                <input id="fileInput" type="file" name="File">
            </td>
            <td>
                <input type="button" id="submitBox" value="Upload file" />
            </td>
        </tr>
    </table>
</form>

<progress id="progress" max="100" value="10"> </progress>
<div id="progressMessage">File is getting uploaded!</div>


@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('#progress').css("visibility", "hidden");
            $("#TransactionDiv").css("visibility", "hidden");
            $("#progressMessage").hide();
            $("#submitBox").click(function () {

                $('#progress').css({
                    'background-color': '#eee',
                    'border-radius': '2px',
                    'box-shadow': '0 2px 5px rgba(0, 0, 0, 0.25) inset',
                    'visibility': 'visible'
                }).attr("value", 10);
                $("#progressMessage").show();

                var fileInput = $('#fileInput')[0];
                if (fileInput.files.length != 0) {

                    if (fileInput.value != null && fileInput.files[0].name.split(".")[1].toUpperCase() == "CSV") {
                        var formdata = new FormData();
                        formdata.append(fileInput.name, fileInput.files[0]);

                        $.ajax({
                            url: '/Home/FileUpload',
                            contentType: false,
                            processData: false,
                            data: formdata,
                            type: 'POST',
                            success: function (responseData, textStatus, jqXHR) {
                                $('#progress').attr("value", 100);
                                $('#progressMessage').hide();                                
                                $('#Summary').html("<b> Summary :</b>")
                                             .append("</br> <b>Number Of Records Uploaded are</b> :" + responseData.RecordsUploaded).css({ 'color': 'brown' })
                                             .append("</br> <b>Number Of Records Skipped are</b> :" + responseData.RecordsSkipped)
                                             .css("visibility", "visible")
                                
                                $("#TransactionDiv").html("<b>File Upload has been Successful</b>")
                                                    .append("<p>Pllease click on the link below to see Transaction Details</p>")                                                    
                                                    .append('<li>@(Html.ActionLink("TransactionDetails", "Index", "Transaction"))</li>')
                                                    .css({ 'color': 'green' })
                                                    .css("visibility", "visible");
                            },

                            error: function (responseData, textStatus, errorThrown) {
                                alert('File Upload has failed.');                                
                                $("#TransactionDiv").html("File Upload has failed.  " +responseData.responseText.substring(1, responseData.responseText.length - 1)).css({ "color": "red", "font-weight": "bolder" })
                                                       .css("visibility", "visible");
                                $('#progress').css("visibility", "hidden");
                                $('#progressMessage').css("visibility", "hidden");                                
                                $("#employeeDiv").css("visibility", "visible");
                                $('#Summary').css("visibility", "hidden");                               
                             
                            }
                        });
                    }
                    else {
                        alert("Please select a valid file");
                    }
                }

                else {
                    alert("No File is selected");
                    $('#progressMessage').css("visibility", "hidden");
                    $('#progress').css("visibility", "hidden");
                    
                }


            });
        });
                //function progressHandlingFunction(e) {
                //    if (e.lengthComputable) {
                //        $('progress').attr({ value: e.loaded, max: e.total });


                //        //$('progress').attr(90);
                //    }
                //}


    </script>

}

<div id="TransactionDiv"> 
</div>

<div id="Summary">
</div>